@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  font-family: Open Sans;
}

#cabecalho {
  height: 30px;
  width: auto;
  background-color: #000000;
}

.cabecalhoBotao {
  font-size: 13px;
}

#botaoBuscar {
  background-color: #c3121a;
  color: white;
  font-weight: bolder;
}

#campoBusca {
  border: solid #000000 1px;
  width: 250px;
}

#menu {
  background-color: #c3121a;
  height: 40px;
  font-size: 13px;
}

.breadcrumb {
  color: #000000;
  font-size: 12px;
  font-weight: bolder;
  background-color: #ffffff;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

#tituloFiltro {
  color: #c3121a;
  font-weight: bolder;
}

#categorias,
#tipos,
#cores {
  color: #80bdb8;
  font-weight: bolder;
}

#vermelho {
  background-color: #c3121a;
  width: 50px;
  height: 25px;
}

#laranja {
  background-color: #f36324;
  width: 50px;
  height: 25px;
}

#verde {
  background-color: #80bdb8;
  width: 50px;
  height: 25px;
}

a {
  color: inherit;
}

.lista {
  color: #808080;
}

.nomeProduto {
  font-weight: bolder;
}

.preco {
  font-size: 20px;
  font-weight: bolder;
  color: #c3121a;
}

.precoAnterior {
  font-size: 15px;
  font-weight: bolder;
  text-decoration: line-through;
  color: #808080;
}

.botao {
  background-color: #80bdb8;
  color: #ffffff;
  font-weight: bolder;
  width: 185px;
}

.page-link {
  color: #808080;
  font-weight: bolder;
}

.page-link:hover {
  color: #c3121a;
  font-weight: bolder;
}

.botaoPag {
  color: #80bdb8;
  font-weight: bolder;
}

#rodape {
  background-color: #c3121a;
  color: #ffffff;
}

#copyright {
  background-color: #c3121a;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
